script(src="finishedGames.js")
div(ng-controller="finishedGamesController")
    p Finished Games
    p(ng-show="showError") {{finishedGamesErrorMsg}}
    table
        tr
            th Game Name
            th Creator
        tr(ng-repeat="game in gameList", ng-click="rowClickedHandler(game)")
            td {{game.gameName}}
            td {{game.creatorUsername}}

