script(src="homepage.js")
div(ng-controller="homepageController")
    p Welcome {{username}}
    div(ng-show="showCreateGame")
        include ./createGame.jade
    br
    p Join a game!
    div(ng-show="showJoinGame")
        include ./joinGame.jade
