script(src="homepage.js")
div(ng-controller="homepageController")
    div
        include ./topNavBar.pug
    p Welcome {{username}}
    div(ng-show="showCurrentGames")
        include ./currentGames.pug
        button(ng-click="showCreateGameHandler()") Create Game
    div(ng-show="showJoinGame")
        include ./joinGame.pug
    div(ng-show="showCreateGame")
        include ./createGame.pug
    div(ng-show="showGame")
        include ./game.pug
    div(ng-show="showFinishedGames")
        include ./finishedGames.pug
    div(ng-show="showReveal")
        include ./reveal.pug
    div(ng-show="showGroupReveal")
        include ./groupReveal.pug

