script(src="joinGame.js")
div(ng-controller="joinGameController")
    p Join a game!
    p(ng-show="showError") {{joinGameErrorMsg}}
    table
        tr
            th Game Name
            th Creator
        tr(ng-repeat="game in gameList", ng-click="rowClickedHandler(game)")
            td
                .linkLike {{game.gameName}}

