script(src="mainGamePage.js")
div(ng-controller="mainGamePageController")
    div(ng-show="mailbox.length > 0")
        p {{clueText}}
        div(ng-show="showSubmitStuff")
            | Submission #[input(ng-model="submission")]
            button(ng-click="submitBtnClickedHandler()") Submit
