script(src="mainGamePage.js")
div(ng-controller="mainGamePageController")
    p(ng-show="isFirstSub") Choose a word or phrase!
    p(ng-show="mailbox.length == 0") Please wait for your next clue!
    p(ng-show="showClueText") {{clueText}}
    img(ng-show="showClueImg", ng-src="{{clueText}}")
    div(ng-show="showSubmitStuff")
        div(ng-show="showClueText && !isFirstSub")
            label
                input(type="radio", value="draw", ng-model="pictureOption")
                | Draw Picture
            label
                input(type="radio", value="upload", ng-model="pictureOption")
                | Upload Picture
            #fileUpload(ng-show="pictureOption==='upload'")
                input#fileInput(type="file")
                button(ng-click="submitImgBtnClickedHandler()",
                    ng-disabled="disableSubmit") Submit
            #drawPicture(ng-show="pictureOption==='draw'")
                include ./drawCanvas.pug 
        div(ng-show="showClueImg || isFirstSub")
            | Submission #[input(ng-model="submission")]
            button(ng-click="submitBtnClickedHandler()",
                    ng-disabled="disableSubmit") Submit
    button(ng-click="LOG()") LOG

