script(src="reveal.js")
div(ng-controller="revealController")
    div(ng-show="showPlayerTable")
        table
            tr
                th Player Name
            tr(ng-repeat="player in players")
                td(ng-click="playerClickedHandler(player)") {{player.username}}
    div(ng-show="showSubmissions")
        p(ng-show="showTextSubmission") {{submissionText}}
        img(ng-show="showImgSubmission", ng-src="{{submissionImgSrc}}")
        button(ng-show="currentSubmissionIndex <= currentChain.submissions.length", \
            ng-click="nextSubmissionBtnClickedHandler()") Next Submission

