doctype html
html
    head
        title Teledraw! 
        script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js")
        script(src="/socket.io/socket.io.js")
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css",
            rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
        link(href="/css/style.css", rel="stylesheet")
        script(src="app.js")
    body.mainPage
        .heading
            h1 Welcome to Teledraw!
        div(ng-app="teledraw", ng-controller="appController")
            div(ng-show="showLogin")
                include ./login.jade
            div(ng-show="showCreateAcct")
                include ./createAcct.jade
            div(ng-show="showHomepage")
                include ./homepage.jade
