script(src="topNavBar.js")
div(ng-controller="topNavBarController")
    nav.navbar.navbar-default
        .container-fluid
            .navbar-header
                p.navbar-brand Teledraw!
            ul.nav.navbar-nav.navbar-right
                li
                    p.nav-text {{username}}
                li
                    button.navbar-btn(ng-click="currentGamesClickedHandler()") Current Games
                li
                    button.navbar-btn(ng-click="createGameClickedHandler()") Create Game 
                li
                    button.navbar-btn(ng-click="gameLogClickedHandler()") Game Log
                li
                    button.navbar-btn(ng-click="logoutClickedHandler()") Logout
        
