html, body {
    width : 100%;
    height : 100%;
}
p {
    font-size : 1.5em;
}
h1 {
    font-size : 2.5em;
    margin-top : 0px;
}

.no-top-margin{
    margin-top : 0px;
    padding : 1px;
}
.heading{
    background-color :#CCFFC4;
    margin : 0px;
}

.navbar-nav > li{
    padding-left : 30px;
}

.navbar-default{
    background-color : #CCFFC4;
}

.table-nonfluid {
    width : auto !important;
}

.row {
    margin-left : 3px;
}

.nav-text {
    line-height : 210%;
}

.top-nav-link {
    cursor : pointer;
}

.grayBackground{
    background-color : #F4F6F6;
}

/* Forgive me, Molly, for I have sinned ~swalls */
.linkLike {
    cursor: pointer;
    color: blue;
}

.linkLike:hover {
    text-decoration: underline;
}
